numpy~=1.26.4
opencv-python~=4.11.0.86
pillow~=11.1.0
torch~=2.6.0
torchaudio==2.5.1
torchvision==0.20.1
colorama~=0.4.6
tqdm~=4.67.1
matplotlib~=3.10.0
scipy~=1.15.2
json5~=0.10.0
joblib~=1.4.2
django~=5.1.6
psutil~=7.0.0